@media screen and (max-width:768px){
    .sidebar{
        width: 200px;
    }
}

@media screen and (max-width:640px){
    .sidebar{
        width: 180px;
    }
}

@media screen and (max-width:695px){
    .sidebar{
        display: none;
    }
}